<div class="body">
    <div class="login-container">
        <div *ngIf="lockDuration > 0" class="lock-message">
            <p>Your account is locked. Please try again in {{ lockDuration }} minute(s).</p>
        </div>

        <div class="login-logo">
            <div class="ace">ACE</div>
            <div class="data-system">Data System</div>
        </div>
        <div class="login-title">
            Login
        </div>
        <div class="forgot-password-text" style="color: white;">
            Enter your email address below and we'll send you instructions on how to reset your password.
        </div>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">            
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" required>
            </div>        
            <div class="mb-3">
                <a href="#" routerLink="/forget-password" class="forgot-password">Forgot Password?</a>
            </div>
            <div class="mb-3">
                <a href="#" routerLink="/change-password" class="forgot-password">Change Password?</a>
            </div>
            <div class="mb-3">
                <a href="#" routerLink="/register" class="forgot-password">Don't have an account?</a>
            </div>
            <button type="submit" class="btn btn-square" [disabled]="lockDuration > 0">Login</button>
        </form>
    </div>
</div>
