
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="modal">
    <div class="modal-header">Add New Announcement</div>
    <form>
        <input type="text" class="input-field" id="announcementTitle" placeholder="Enter the title" required>

        <div class="quill-editor" id="announcementEditor"></div>
        
       <label for="companySelect" class="form-label">Select Company</label>
  <div class="select-box-container">
    <div class="select-box">
      <div *ngFor="let company of companies" class="square-box" (click)="onCompanySelect(company)">
        {{ company.name }}
      </div>
    </div>
  </div>
        
        <label for="departmentSelect" class="form-label">Select Department</label>
        <div class="select-box-container">
          <div class="select-box">
            <div *ngFor="let department of departments" class="square-box" (click)="onDepartmentSelect(department)">
              {{ department.name }}
            </div>
          </div>
        </div>
       
        <label for="positionSelect" class="form-label">Select Position</label>
        <div class="select-box-container">
            <div class="select-box">
              <div *ngFor="let position of positions" class="square-box" (click)="onPositionSelect(position)">
           {{ position.name }}
              </div>
            </div>
          </div>
        
       
        <label for="scheduleDate" class="form-label">Schedule Date</label>
        <input type="date" class="input-field" id="scheduleDate" required>
        
        <label for="scheduleHour" class="form-label">Schedule Hour</label>
        <input type="time" class="input-field" id="scheduleHour" required>
        
            <label class="form-label">Attach Document</label>
            <div class="file-input" id="fileInputContainer">
              <input type="file" id="fileInput" accept="image/*, .pdf, .zip" (change)="onFileSelected($event)">
              <span>Drag and drop a file here or click</span>
            </div>
            <small class="text-muted">Accepted formats: PDF, ZIP, Images, etc.</small>
            
            <!-- Preview of the selected file -->
            <div class="file-preview" id="filePreview" #filePreview></div>
            
        <div>
          <div class="button-container">
            <!-- Compare user.role with string 'USER' instead of Role.USER -->
            <button *ngIf="user.role === 'USER'" type="button" class="button" (click)="submitRequest()">Request</button>
            <button *ngIf="user.role === 'MAIN_HR'" type="button" class="button" >Submit</button>
          
            <button type="button" class="button cancel">Cancel</button>
          </div>
          
              
        </div>
    </form>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
