<div class="nav-item dropdown" style="margin-right: 20px;">
    <a class="nav-link position-relative" href="#" id="notificationDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
       <i class='bx bx-git-pull-request'></i>                  <span class="badge bg-danger position-absolute top-0 start-100 translate-middle badge-pill">
        5 <!-- Replace with dynamic notification count -->
      </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
      <li class="dropdown-header">Notifications</li>
      <li><a class="dropdown-item" href="#" routerLink="/request-announce">New comment on your post</a></li>
      <li><a class="dropdown-item" href="#"  routerLink="/request-announce">You have a new follower</a></li>
      <li><a class="dropdown-item" href="#"  routerLink="/request-announce">Server maintenance scheduled</a></li>
      <li><a class="dropdown-item" href="#"  routerLink="/request-announce">Message from HR</a></li>
      <li><a class="dropdown-item" href="#"  routerLink="/request-announce">Your report is ready</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item text-center" href="#" routerLink="/dashboard">View all notifications</a></li>
    </ul>
  </div>